<div class="col-xs-3">
  <div class="categories">
    <h2>Categories</h2>
    <ul class="list-group">
      <% Category.all.each do |cat| %>
        <li class="list-group-item category"><a href="#"><%= cat.name %></a></li>
      <% end %>
    </ul>
  </div>
</div>
