<% projects.each do |proj| %>
<div class="col-xs-3">
<div class="project">
<div class="project-image">
<img src="<%= fake_image %>">
</div> <!-- project-image -->
<div class="proj.title">
<b><%= fake_title %></b>
</div> <!-- project-title -->
<div class="project-description">
<%= fake_content %>
</div> <!-- project-description -->
</div> <!-- project -->
</div> <!-- col-xs-3 -->
<% end %>
