
<div class="row row-fluid search">
	<!-- Search Results Container -->
	<div class="row row-fluid">
  	<button type="button" class="close close-search-results">
			&times;
		</button><br>
  	<%= render 'shared/row', projects: @projects %>
   </div>
</div>
