<div class="modal fade" id="signIn">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-body">
        <!-- Accordian Start-->
        <div class="panel-group" id="accordion">
          <div class="panel panel-default">
            <div class="panel-heading">
              <h4 class="panel-title">
                <!-- Sign In Start-->
                <a data-toggle="collapse" data-parent="#accordion" href="#signInCollapse">
                  Sign In
                </a>
              </h4>
            </div>
            <div id="signInCollapse" class="panel-collapse collapse in">
              <div class="panel-body">
                <%= render 'devise/sessions/new' %>
              </div>
            </div>
          </div>
          <div class="panel panel-default">
            <div class="panel-heading">
              <h4 class="panel-title">
                <!-- Sign Up Start-->
                <a data-toggle="collapse" data-parent="#accordion" href="#signUpCollapse">
                  Sign Up
                </a>
              </h4>
            </div>
            <div id="signUpCollapse" class="panel-collapse collapse">
              <div class="panel-body">
                <%= render 'devise/registrations/new' %>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div><!-- /.modal-content -->
  </div><!-- /.modal-dialog -->
</div><!-- /.modal -->
