<div class="row row-fluid homepage">
  <!-- Left Side Container -->
  <div class="col-xs-12">
  <!-- Requested Projects Container -->
   <div class="row row-fluid">
     <h2>Requested Projects</h2>
 <div class="row row-fluid home-page">
  <div class="col-xs-2"></div>
  <div class="col-xs-5">
    <img src="http://placekitten.com/g/400/400"/>   
  </div> 
  <div class="col-xs-3">
         <h1>Title of Project</h1>
  </div>
</div>
</div>  <!-- row -->